body {
    background-image: url('/static/images/Background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Palanquin', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}



.container-index {
    text-align: center;
    padding: 30px;
    background-color: white;
    box-shadow: 0 4px 10px rgb(0, 0, 0);
    width: 50%;
    height: 30%;
}


.container-login {
    background-color: white; 
    /* backdrop-filter: blur(10px); */
    padding: 75px;
    /* border-radius: 8px; */
    box-shadow: 0 4px 10px rgb(0, 0, 0);
    /* max-width: 800px; */
    margin: auto;
    text-align: center;
    width: 12%;
    position: relative;
}

.container-circle { 
    width: 120px;
    height: 120px;
    background-color: #2a2a2a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: -13%;
    left: 34%;
} 

.content-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.logo {
    width: 70%;
}

.denuncia-container .login-container {
    flex: 1;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    
}

.border-divider {
    width: 2px;
    background: linear-gradient(to top, rgba(211, 211, 211), rgba(141, 141, 141, 1), rgba(211, 211, 211));
    height: auto;
    align-self: stretch;
}

.title-modal{
    color: #000000;
    font-size: 25px;
    
}

.title{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.subtitle{
    display: flex;
    justify-content: center;
}

.subtitle-modal{
    color: #000000;
    font-size: 25px;
    margin-bottom: 15px;
}


h2, h3 {
    font-weight: bold;
    color: #1b1b1b;
}

button {
    background-color: #8d8d8d; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
    border: 1px solid #000;
}

button:hover {
    background-color: #25221e; /
}

a {
    color: #002F6C;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
    
/* Estilos de formulario */

.login-form {
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
    width: 120%;
    left: -10%;
    
}



.form-control {
    font-size: 16px;
    color: black;
    border: none;
    border-bottom: 1px solid #666;
    outline: none;
    padding: 8px 0;
    width: 100%;
}

.form-control::placeholder {
    color: #2a2a2a;
}

.form-control:focus {
    border-bottom: 1px solid #000;
}

.form-container {
    margin: 20px 0;
}

/* Forgot Password */

.forgot-password {

    position: relative;
    margin: 20px 0;
    left: -31%;
    
}

.forgotPassword {
    color: #2200e0;
    font-size: 11px;
}

.forgotPassword:hover {
    color: #0074e0;
    text-decoration: none;
    cursor: pointer;
}

.container-password-reset {
    background-color: white; 
    padding: 30px;
    box-shadow: 0 4px 10px rgb(0, 0, 0);
    margin: auto;
    text-align: center;
    width: 25%;
}


.container-btn {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 10%;
}
.btn-primary {
    background-color: #8d8d8d; 
    color: white;
    border: none;
    padding: 10px 20px;
    /* border-radius: 5px; */
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    text-decoration: none;
    background-color: #e07b00;
}


label {
    position: absolute;
    left: 10px;
    top: 10px;
    color: rgb(94, 94, 94);
    transition: all 0.2s;
    pointer-events: none;
    font-size: 12px;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: -15px;
    left: 4px;
    color: #000000;
    font-size: 12px;
}

input:focus {
    border-color: #FF8C00;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
    padding-top: 60px; 
}

.modal-content {
    background-color: rgba(242, 242, 242, 0.9); 
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #002F6C; 
    border-radius: 8px; 
    width: 300px; 
    position: relative; 
}

.close {
    color: #aaa;
    position: absolute; 
    top: 10px; 
    right: 15px; 
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Mensajes de error */
ul {
    list-style-type: none;
    padding: 0;
    color: #FF8C00; /* Color de los mensajes de error */
}



