<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <video class="video-background" autoplay loop muted playsinline>
        <source src="/static/images/background.mp4" type="video/mp4">
        Tu navegador no soporta el video 
    </video>
    <a href="{{ url_for('logout') }}" class="logout-button">
        <img src="{{ url_for('static', filename='images/logout.png')}}" alt="salir" class="logout-icon"/>
    </a>
    <div class="containerA">
    <div class="denuncias-subcontainerA">
    <h2>Dashboard de Administradores</h2>
    <div class="denuncias-scroll-containerA">
        <table class="denuncias-table">
            <thead>
                <th>Denuncia</th>
                <th class="fecha-col">Fecha</th>
                <th class="acciones-col">Acciones</th>
            </thead>
            <tbody>
                {%for denuncia in denuncias %}
                    <tr>
                        <td>{{ denuncia.denuncia }}</td>
                        <td>{{ denuncia.fecha.strftime('%B %d, %Y %I: %M %p') }}</td>
                        <td>
                            <form action="{{ url_for('delete_denuncia', id=denuncia.id) }}" method="POST" style="display: inline;">
                                <img src="{{ url_for('static', filename='images/eliminar.png')}}" alt="Eliminar" class="icon-delete" onclick="showConfirmModal(event, '{{ denuncia.id }}');"/>
                                
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
</div>
<!-- Modal de confirmación -->
<div id="confirmModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModal">&times;</span>
        <p>¿Estás seguro de que quieres eliminar esta denuncia?</p>
        <div class="buttons">
            <button id="confirmDelete" >Eliminar</button>
            <button id="cancelDelete" >Cancelar</button>
        </div>
    </div>
</div>
{% with messages = get_flashed_messages() %}
            {% if messages %}
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        var modal = document.getElementById("ModalDelete");
                        var modalMessage = document.getElementById("modalMessage");
                        modalMessage.textContent = "{{ messages[0] }}";
                        modal.style.display = "block"; 
                    });
                </script>
            {% endif %}
        {% endwith %}
        <div class="modal" id="ModalDelete" style="display:none;">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <p id="modalMessage"></p>
            </div>
        </div>
<script>

    document.addEventListener("DOMContentLoaded", function() {
        const isAuthenticated = document.getElementById("auth-status").dataset.authenticated === 'true'
        console.log("User authenticated:", isAuthenticated);
        if (!isAuthenticated) {
            window.location.href = "{{ url_for('login') }}";
        }
    });

    
    function closeModal() {
            var modal = document.getElementById("ModalDelete");
            modal.style.display = "none";
            // document.getElementById("ModalError").style.display = "none";
        }
        window.onclick = function(event) {
            var modal = document.getElementById("ModalDelete");
            if (event.target == modal){
                closeModal();
            }
        }

    let deleteForm;

    function showConfirmModal(event, id) {
        event.preventDefault(); 
        deleteForm = event.target.closest('form'); 

        // Muestra el modal
        const confirmModal = document.getElementById("confirmModal");
        confirmModal.style.display = 'block';
    }

    document.addEventListener("DOMContentLoaded", function() {
        const closeModal = document.getElementById("closeModal");
        const confirmDelete = document.getElementById("confirmDelete");
        const cancelDelete = document.getElementById("cancelDelete");

        closeModal.onclick = function() {
            document.getElementById("confirmModal").style.display = "none";
        };

        confirmDelete.onclick = function() {
            if (deleteForm) {
                console.log("Submitting form:", deleteForm);
                deleteForm.submit();
            }
        };

        cancelDelete.onclick = function() {
            document.getElementById("confirmModal").style.display = "none";
        };

        window.onclick = function(event) {
            const confirmModal = document.getElementById("confirmModal");
            if (event.target === confirmModal) {
                confirmModal.style.display = "none";
            }
        };
    });
</script>
</body>
</html>
