<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='denunciar.css') }}">
    <title>Denuncia Anónima</title>
</head>
<body>
    <div class="header-icons">
        <a href="{{ url_for('index')}}" class="home-button">
            <img src="{{ url_for('static', filename='images/atras.png') }}" alt="Inicio" class="home-icon">
        </a>
        <h1>ATENDER DENUNCIAS</h1>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/Logo.png') }}" alt="logo" class="logo-icon">
        </div>
    </div>
    <div class="containerD">
        <div class="denuncia-bar" id="denunciaBar" onclick="toggleDenunciaForm()">
            <img src="{{ url_for('static', filename='images/mano.png')}}" alt="mano" class="mano-icon">
            Realizar denuncia
        </div>
        <div class="radicar-container" id="denunciaForms">
            <div class="close-btn" onclick="toggleDenunciaForm()"></div>
        </div>
        <div class="denuncias-container">
            <div class="denuncias-subcontainer" id="denuncias-subcontainer">
                <div class="denuncias-scroll-container">
                <table class="denuncias-table">
                    <thead>
                        <tr>
                            <th>Denuncia</th>
                            <th>Motivo</th>
                            <th>Pais</th>
                            <th>Entidad</th>
                            <th class="fecha-col">Fecha Registro</th>
                            <th class="fecha-col">Fecha De Los Hechos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for denuncia in denuncias %}
                            <tr>
                                <td>{{ denuncia.denuncia }}</td>
                                <td>{{ denuncia.motivo }}</td>
                                <td>{{ denuncia.pais }}</td>
                                <td>{{ denuncia.entidad }}</td>
                                <td>{{ denuncia.fecha.strftime('%m/%d/%Y') }}</td>
                                <td>{{ denuncia.fechaRegistro.strftime('%m/%d/%Y %I: %M %p') }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <script>
                        document.addEventListener("DOMContentLoaded", function() {
                            var modal = document.getElementById("ModalSuccess");
                            var modal1 = document.getElementById("ModalConfirmation");
                            var modalMessage = document.getElementById("modalMessage");
                            modalMessage.textContent = "{{ messages[0] }}";
                            modal.style.display = "block"; 
                        });
                    </script>
                {% endif %}
            {% endwith %}
            </div>
        </div>
    </div>

    <div class="modal" id="ModalSuccess" style="display:none;">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <p id="modalMessage"></p>
        </div>
    </div>
    <div class="modal" id="ModalConfirmation" style="display:none;">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <p id="modalMessage">¿Estás seguro de que deseas enviar esta denuncia?</p>
            <button id="modalConfirmBtn">Confirmar</button>
            <button id="modalCancelBtn">Cancelar</button>
        </div>
    </div>
    <script>

        function toggleDenunciaForm() {
            window.location.href = '/denunciaForm';
        }

        function showConfirmationModal(event) {
            //Previene el envio del formulario
            event.preventDefault();

            // Mostrar el modal
            var modal = document.getElementById("ModalConfirmation");
            modal.style.display = "block";

            // Configurar botones de Confirmar y Cancelar
            var confirmBtn = document.getElementById("modalConfirmBtn");
            var cancelBtn = document.getElementById("modalCancelBtn");

            // Acción al hacer clic en Confirmar
            confirmBtn.onclick = function() {
                document.getElementById("denunciaForm").submit(); 
                modal.style.display = "none";
            };

            // Acción al hacer clic en Cancelar
            cancelBtn.onclick = function() {
                modal.style.display = "none"; 
            };

            return false;
        }


        function closeModal() {
            var modal = document.getElementById("ModalConfirmation");
            var modal1 = document.getElementById("ModalSuccess");
            if (modal)
            {
                modal.style.display = "none";
            }
            if (modal1)
            {
                modal1.style.display = "none";
            }
            
        }

        window.onclick = function(event) {
            var modal = document.getElementById("ModalSuccess");
            var modal1 = document.getElementById("ModalConfirmation");
            
            if (event.target == modal || event.target == modal1){
                closeModal();
            }  
            
        }

        document.getElementById("denunciaTextarea").addEventListener("keydown", function(event) {
            if (event.key === "Enter") {
                event.preventDefault();
                showConfirmationModal(event);
            }
        });
    </script>
</body>
</html>
