<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <title>Recuperar Contraseña</title>
</head>
<body>
    <video class="video-background" autoplay loop muted playsinline>
        <source src="/static/images/background.mp4" type="video/mp4">
        Tu navegador no soporta el video 
    </video>
    <div class="container-password-reset">
        <div class="title">
            <h1 class="title-modal">Recuperar Contraseña</h1>
        </div>  
        <form method="POST" action="{{ url_for('forgotPassword') }}">
            <div class="input-container">
                <input type="email" name="email" id="email" class="form-control" required placeholder=" ">
                <label for="email">Correo Electrónico:</label>
            </div>
            <div class="container-btn">
                <input type="submit" value="Enviar" class="btn-primary">
            </div>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-info">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>
