<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <title>Recuperar Contraseña</title>
</head>
<body>
    <video class="video-background" autoplay loop muted playsinline>
        <source src="/static/images/background.mp4" type="video/mp4">
        Tu navegador no soporta el video 
    </video>
    <div class="container-password-reset">
        <div class="title">
            <h1 class="title-modal">Recuperar Contraseña</h1>
        </div>  
        <form method="POST" action="{{ url_for('forgotPassword') }}">
            {{ form.hidden_tag() }} 
            <div class="input-container">
                <input type="email" name="email" id="email" class="form-control" required placeholder="">
                <label for="email">Correo Electrónico:</label>
            </div>
            <div class="container-btn">
                <input type="submit" value="Enviar" class="btn-primary">
            </div>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        var modal = document.getElementById("ModalError");
                        var modalMessage = document.getElementById("modalMessage");
                        modalMessage.textContent = "{{ messages[0] }}";
                        modal.style.display = "block"; 
                    });
                </script>
            {% endif %}
        {% endwith %}
        </div>
    </div>

    <div class="modal" id="ModalError" style="display:none;">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <p id="modalMessage"></p>
        </div>
    </div>

    <script>

        function closeModal() {
            var modal = document.getElementById("ModalError");
            modal.style.display = "none";
            // document.getElementById("ModalError").style.display = "none";
        }
        window.onclick = function(event) {
            var modal = document.getElementById("ModalError");
            if (event.target == modal){
                closeModal();
            }
        }
    </script>
    </div>
</body>
</html>
