<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Index</title>
</head>
<body>
    <video class="video-background" autoplay loop muted playsinline>
        <source src="/static/images/background.mp4" type="video/mp4">
        Tu navegador no soporta el video 
    </video>
    <div class="container-index">
        <h1>Anonymous Reporting System </h1>
        <div class="content-container">
            <div class="denuncia-container">
                <p>¿Desea poner una demanda?</p>
                <form action="{{ url_for('denunciar') }}" method="get">
                    <button type="submit">Poner una demanda</button>
                </form>
            </div>
            <div class="border-divider"></div>
            <div class="login-container">
                <p>¿Desea iniciar sesión?</p>
                <a href="{{ url_for('login') }}">
                    <button>Login</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
